---
layout: default
title: Entwicklung und Beratung
keywords: Beratung
---
<div class="container dev">
    <p>
        {{ site.data.dev.longText }}
    </p>
    {% for type in site.data.dev.types %}
        <div class="card">
            <div class="card-header">
                {{ type.name }}
            </div>
            <div  class="card-body">
                <div class="tags">
                    {% for tag in type.tags %}
                        <span class="tag">{{ tag }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
