.nav-item.active {
    color: #FFFFFF;
}



/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 3.75rem;
}



.container {
    margin-bottom: 100px;
}

.container.dev, .container.coaching, .container.articles, .container.code {
    padding-top: 3.75rem;
}



.offer-icon {
    font-size: 100px;
    text-align: center;
    width: 100%;
}

.offer-icon a, .offer-icon a:hover {
    color: #212529;
	text-decoration: none;
}



.contact-icon {
    width: 20px;
    text-align: center;
}

.contact-icon a, .contact-icon a:hover {
    color: #212529;
	text-decoration: none;
}

.contact-label {
    vertical-align: middle;
}

.contact-label a, .contact-label a:hover {
    color: #212529;
	text-decoration: none;
}



#article-cards div.card:not(:first-child) {
    margin-top: 25px;
}

#code-cards div.card:not(:first-child) {
    margin-top: 25px;
}
