$selected-header-link-color: #FFFFFF;
$header-link-color: #CCCCCC;

header {
    background-color: #000000;
    padding-left: $header-padding;
    padding-right:$header-padding;
    display: flex;
    justify-content: space-between;

    .logo {
        width: 100px;
        height: 100px;
        background-image: url("/assets/img/logo.png");
        background-size: 100px;
    }

    #burger-menu {
        display: none;
    }

    #navigation {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;

        a {
            font-weight: bold;
            color: $header-link-color;
            text-decoration: none;
        }
    
        a.selected, a:hover {
            font-weight: bolder;
            color: $selected-header-link-color;
        }
    }   
}

@media only screen and (max-width: 750px) {
    header {
        .logo {
            width: 50px;
            height: 50px;
            background-image: url("/assets/img/logo.png");
            background-size: 50px;
        }

        #burger-menu {
            display: block;
            width: 50px;
            height: 50px;
        }

        #burger-menu {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .fa-bars {
                display: block;
                width: 30px;
                height: 30px;
            }

            .fa-xmark {
                display: none;
            }
        }

        #burger-menu.active {
            
            .fa-bars {
                display: none;
            }

            .fa-xmark {
                display: block;
                width: 30px;
                height: 30px;
            }
        }

        #navigation {
            display: none;
        }

        #navigation.active {
            display: flex;
            flex-direction: column;
            background-color: #DDDDDD;
            position: absolute;
            padding: 5px;
        }
    }
}
