<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="theme-color" content="#000000" />
        <meta name="description" content="André Schreck" />
        <meta name="keywords" content="Freelancer, Softwarearchitektur, Seoftwareentwicklung, Java, Spring, Coaching, CCD, TDD, SOLID" />
        <meta name="author" content="André Schreck" />
        
        <link rel="icon" href="img/logo.png" type="image/png" />
        
        <script src="https://kit.fontawesome.com/64ae5d1b44.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

        <title>André Schreck - {{ page.title }}</title>

        <style>
          .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

          @media (min-width: 768px) {
            .bd-placeholder-img-lg {
              font-size: 3.5rem;
            }
          }
        </style>
        <!-- Custom styles for this template -->
        <link href="styles.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="/"><img src="img/logo.png" width="32" height="32" alt="Logo" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item {% if page.url == '/' or page.url == '/index.html' %}active{% endif %}">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item {% if page.url == '/dev.html' %}active{% endif %}">
                            <a class="nav-link" href="dev.html">Entwicklung und Beratung</a>
                        </li>
                        <li class="nav-item {% if page.url == '/coaching.html' %}active{% endif %}">
                            <a class="nav-link" href="coaching.html">Coaching</a>
                        </li>
                        <li class="nav-item {% if page.url == '/articles.html' or page.url == '/code.html' %}active{% endif %}">
                            <a class="nav-link" href="articles.html">Artikel und Codebeispiele</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <main role="main">
        
            {{ content }}
            
        </main>
        
        <!-- FOOTER -->
        <footer class="container">
            <a href="imprint.html">Impressum</a>
        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
